range(lowest, highest + 1)

In [39]:
for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [40]:
for i in range(3, 6):
    print(i)

3
4
5

In [41]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [42]:
for i in range(6, 0, -1):
    print(i)

6
5
4
3
2
1

**Example:** We are given some positive integer n. Let’s compute the factorial of n and assign
it to the variable factorial. The factorial of `n` is `n! = 1 · 2 · . . . · n`. We can obtain it by
starting with 1 and multiplying it by all the integers from 1 to n.

In [14]:
import random

def factorial(n):
    factorial = 1
    for i in range (1, n + 1):
        factorial *= i
        
    return factorial

In [15]:
n = 3
print(f"Factorial of {n} = {factorial(n)}")

Factorial of 3 = 6

In [16]:
n = 6
print(f"Factorial of {n} = {factorial(n)}")

Factorial of 6 = 720

In [17]:
n = 9
print(f"Factorial of {n} = {factorial(n)}")

Factorial of 9 = 362880

In [18]:
n = 13
print(f"Factorial of {n} = {factorial(n)}")

Factorial of 13 = 6227020800

**Example:** Let’s print a triangle made of asterisks (`'*'`) separated by spaces. The triangle
should consist of n rows, where n is a given positive integer, and consecutive rows should
contain 1, 2, . . . , n asterisks. For example, for n = 4 the triangle should appear as follows:

```
*
* *
* * *
* * * *
```

In [35]:
def print_right_triangle(n):
    for i in range(1, n + 1):
        for j in range(i):
            print("*", end=" ")
        print(" ")

In [36]:
n = 1
print_right_triangle(n)

*

In [37]:
n = 2
print_right_triangle(n)

*
* *

In [38]:
n = 3
print_right_triangle(n)

*
* *
* * *

**Example:** Let’s print a triangle made of asterisks (`'*'`) separated by spaces and consisting
of n rows again, but this time upside down, and make it symmetrical. Consecutive rows should
contain 2n − 1, 2n − 3, . . . , 3, 1 asterisks and should be indented by 0, 2, 4, . . . , 2(n − 1)
spaces. For example, for n = 4 the triangle should appear as follows:
```
* * * * * * *
  * * * * *
    * * *
      *
```

In [59]:
def print_triangle(n):
    for i in range(n, 0, -1):
        for j in range(n - i):
            print(" ", end=" ")
        for j in range(2 * i - 1):
            print("*", end=" ")
        print(" ")

In [60]:
n = 3
print_triangle(n)

* * * * *
  * * *
    *

In [61]:
n = 5
print_triangle(n)

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

**Example:** Given a positive integer n, how can we count the number of digits in its decimal
representation?

In [64]:
def count_decimal_digits(n):
    result = 0
    while n > 0:
        n = n // 10
        result += 1
        
    return result

In [65]:
n = 10
print(count_decimal_digits(n))

2

In [66]:
n = 10.001
print(count_decimal_digits(n))

2

In [67]:
n = 1000.10001
print(count_decimal_digits(n))

4

In [8]:
def count_decimal_places(n):
    f = str(n)
    if '.' in f:
        return f[::-1].find('.')
    return 0

In [9]:
n = 1000
print(count_decimal_places(n))

0

In [10]:
n = 1000.1
print(count_decimal_places(n))

1

In [11]:
n = 1000.12345
print(count_decimal_places(n))

5

In [12]:
n = 10
['e'] * n

['e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e', 'e']

In [13]:
n = 10
[False] * n

[False, False, False, False, False, False, False, False, False, False]

**Example:** The Fibonacci numbers form a sequence of integers defined recursively in the
following way. The first two numbers in the Fibonacci sequence are 0 and 1, and each subsequent
number is the sum of the previous two. The first few elements in this sequence are: 0,
1, 1, 2, 3, 5, 8, 13. Let’s write a program that prints all the Fibonacci numbers, not exceeding
a given integer n

In [14]:
def fibonacci(n):
    result = []
    a = 0
    b = 1
    while a <= n:
        result.append(a)
        c = a + b
        a = b
        b = c
        
    return result

In [15]:
n = 10
print(fibonacci(n))

[0, 1, 1, 2, 3, 5, 8]

In [17]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [18]:
for day in enumerate(days):
    print(day)

(0, 'Monday')
(1, 'Tuesday')
(2, 'Wednesday')
(3, 'Thursday')
(4, 'Friday')
(5, 'Saturday')
(6, 'Sunday')

In [20]:
for i_day, day in enumerate(days):
    print(f"{i_day}: {day}")

0: Monday
1: Tuesday
2: Wednesday
3: Thursday
4: Friday
5: Saturday
6: Sunday

In [21]:
days = set(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
for day in days:
    print(day)

Sunday
Thursday
Wednesday
Tuesday
Saturday
Friday
Monday

In [22]:
for i_day, day in enumerate(days):
    print(f"{i_day}: {day}")

0: Sunday
1: Thursday
2: Wednesday
3: Tuesday
4: Saturday
5: Friday
6: Monday

In [26]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
{key: value for (key, value) in enumerate(days)}

{0: 'Monday',
 1: 'Tuesday',
 2: 'Wednesday',
 3: 'Thursday',
 4: 'Friday',
 5: 'Saturday',
 6: 'Sunday'}

In [29]:
dict((key, value) for (key, value) in enumerate(days))

{0: 'Monday',
 1: 'Tuesday',
 2: 'Wednesday',
 3: 'Thursday',
 4: 'Friday',
 5: 'Saturday',
 6: 'Sunday'}

In [62]:
def longest_sequence_of_zero(nums):

    if not isinstance(nums, list):
        return 0
    if not len(nums):
        return 0
    
    count = 0
    prev = 0
    index_end = 0
    for i in range(0, len(nums)):
        if nums[i] == 0:
            count += 1
        else:
            if count > prev:
                prev = count
                index_end = i
            count = 0
    
    longest_sequence = prev
    index_start = index_end - prev
    index_end -= 1
    
    return longest_sequence, index_start, index_end

In [63]:
A = [1,2,0,0,3,4,5,-1,0,2,-1,-3,0,0,0,0,0,0,0,0,2,-3,-4,-5,0,0,0]
print(list(enumerate(A)))

[(0, 1), (1, 2), (2, 0), (3, 0), (4, 3), (5, 4), (6, 5), (7, -1), (8, 0), (9, 2), (10, -1), (11, -3), (12, 0), (13, 0), (14, 0), (15, 0), (16, 0), (17, 0), (18, 0), (19, 0), (20, 2), (21, -3), (22, -4), (23, -5), (24, 0), (25, 0), (26, 0)]

In [64]:
longest_sequence, index_start, index_end = longest_sequence_of_zero(A)
print(longest_sequence, index_start, index_end )
print(A[index_start:index_end + 1])

8 12 19
[0, 0, 0, 0, 0, 0, 0, 0]